{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<header>
    <h1>Best selling games by platform</h1>
</header>
<main>
    <button onclick="window.location.href='/'">Powrót do strony głównej</button>

    <section class="container">
        <h2>Sales by console platform</h2>
        <div class="chart">
            {{ chart_sales_by_platform|safe }}
        </div>
    </section>
</main>


</body>
</html>